@import "tailwindcss";

@theme {
  --color-brand-primary: #ff6606;
  --color-brand-secondary: #e95a01;
  --color-brand-dark: #1e293b;
  --color-brand-light: #F0F5FA;
  --color-background: #ffffff;
  --color-foreground: #171717;
  
  --font-sans: var(--font-geist-sans), Arial, sans-serif;
  --font-mono: var(--font-geist-mono), monospace;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-sans);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Article content specific styles */
.prose img {
  border-radius: 0.5rem;
  margin: 1.5rem auto;
}
.prose a {
  color: var(--color-brand-primary);
  text-decoration: none;
}
.prose a:hover {
  text-decoration: underline;
}
